<h1>model names aree <%= mobileData.name %> </h1>
<h1>model names are <%= mobileData.model %> </h1>
<h1>model names are <%= mobileData.number %> </h1>
<h1>model names are <%= mobileData.specification %> </h1>


<p1>paragraph name is <%= mobileData.name%></p1>
<p1>paragraph name is <%= mobileData.model%></p1>
<p1>paragraph name is <%= mobileData.os%></p1>
<p1>paragraph name is <%= mobileData.size%></p1>
<p1>paragraph name is <%= mobileData.colour%></p1>
